//- Catalog web - page for list of works
//- 
//- Copyright 2014 Commons Machinery http://commonsmachinery.se/
//- Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

- function shortenUserURI(uri) { var pos = uri.search(/\/[^\/]+$/); return pos > 0 ? uri.slice(pos + 1) : uri; };

mixin workListItemView(work, empty)
    article.entry(id="works-#{work.id}" class="grid-25 tablet-grid-33 mobile-grid-100")
        - var title = empty || work.alias || work.id
        header
            if userId
                input.batchSelectItem(type='checkbox', disabled=true)
            h2: a.title(href=work.href || '#')
                | #{empty || title}
            span(class="#{work.public ? 'public' : 'private'}")
            a(href="#{empty || work.added_by.href}"): dl
                dt: | Added By
                dd: | #{empty || work.added_by.alias || work.added_by.id}
            div.oembed
        dl
            +defTerm(empty || work.added_on, 'Added on')
            +defTerm(empty || work.href, 'URL')
            +defTerm('-- collections', 'Used in')

include includes/top
    if works
        if userId
            div#actions
                button(id="add-work") +Add work
                button(id="batch-update") Batch update:
                label(for="new-visible") Visible
                select(id="new-visible")
                    option(value="")
                    option(value="private") Private
                    option(value="group") Group
                    option(value="public") Public
                label(for="new-state") State
                select(id="new-state")
                    option(value="")
                    option(value="draft") Draft
                    option(value="published") Published
                button(id="filter-works") Filter

        ul#works
            for work in works
                +workListItemView(work)

        nav.pagination
            a(href="/works?page=1"): | 1
            a(href="/works?page=2"): | 2

    else
        b There are no visible works.

    include includes/bottom

    script#workListItemTemplate(type="text/template")
        +workListItemView({}, '-')

    script.bootstrapData(type='application/json')
        != bootstrapData({ "data": works || [] })

