//- Catalog web - page displaying work media
//- 
//- Copyright 2014 Commons Machinery http://commonsmachinery.se/
//- Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

include includes/annotations

mixin mediaDetails()
    section
        - var displayTitle = media.id
        header
            h1 Media: #{displayTitle}
        span.embed #{'- no embed -'}
        footer.details(class="grid-100 tablet-grid-100 mobile-grid-100")
            dl
                +defTerm(media.version + ',' , 'Version', 'version')
                +defTerm(null, 'added by')
                    a(href=media.added_by.href) #{media.added_by.id}
                +defTerm(null, 'on', 'added_at')
                    -var date = media.added_at.toDateString();
                    | #{date.substring(3, date.length)}

mixin mediaAnnotations(showEmpty)
    - var empty
    if showEmpty
        - empty = makeEmpty()

    - var fields = empty || _.pluck(media.annotations, 'property')

    section
        header
            h2 Annotations

        dl.metadata
            +printMetadata(fields)

include includes/top
    div#media(class="prefix-5 grid-90 tablet-grid-100 mobile-grid-100")
        div#mediaDetails
            +mediaDetails
        div#mediaAnnotations
            +mediaAnnotations

    include includes/bottom
