//- 
	Catalog web/view

	Copyright 2014 Commons Machinery http://commonsmachinery.se/

	Authors:
		Elsa Balderrama <elsa@commonsmachinery.se>

	Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

- var source = data
- var stringData = JSON.stringify(data);

mixin sourcView(data)
	- data = data || {}
	div.post
		h2: a.editable(href="#{data.resource || ''}" name="id") #{data.id || ''}
		| by
		span(name="creator") #{data.creator || ''}
		| on
		span(name="posted") #{data.posted || ''}
		br
		| last updated by 
		span(name="updatedBy") #{data.updatedBy || ''}
		| on 
		span(name="updated") #{data.updated || ''}
		a(href="#{data.metadata || ''}" name="metadata") (see metadata...)
		a(href="#{data.cachedExternalMetadata || ''}" name="cachedExternalMetadata") (see external metadata...)


div.bootstrapData #{stringData}

include includes/top
	+sourceView(work)
include includes/bottom