//- Catalog web - user public profile page
//- 
//- Copyright 2014 Commons Machinery http://commonsmachinery.se/
//- Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

//- TODO: this page is hardcoded for now, as there's nothing
//- interestingly dynamic to do yet.

- var profile = user.profile;

mixin defTerm(term, caption)
    if term
        dt(class=caption.toLowerCase()) #{caption}
            dd #{term}    

include includes/top
    div#userProfile
        img.gravatar(src=gravatarHashURL(profile.gravatar_hash, 237))
        dl
            - var displayName = user.alias || user.id
            +defTerm(displayName, 'User')
            +defTerm(profile.email, 'Email')
            +defTerm(profile.location, 'Location')
            +defTerm(profile.website, 'Website')
        if userId == user.id
            div 
                a(href='#{user}/sources') My stock sources
        if user._perms.write === true
            div.actions
                button.edit(data-action="edit-profile") Edit Profile

    include includes/bottom

    script#editUserProfileTemplate(type="text/template")
        form
            fieldset#fields
                span
                    label(for="input-alias") User alias: 
                    input#input-alias(type="text")
                span
                    label(for="input-email") Email: 
                    input#input-email(type="email")
                span
                    label(for="input-website") Website: 
                    input#input-website(type="url")
            fieldset.actions
                button.save(data-action="save") Save
                button.cancel(data-action="cancel") Cancel
    script.bootstrapData(type='application/json')
        != bootstrapData({ "data": user })
