//- 
	Catalog web/view

	Copyright 2014 Commons Machinery http://commonsmachinery.se/

	Authors:
		Elsa Balderrama <elsa@commonsmachinery.se>

	Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

- var works = data
mixin branch(works)
	dl
		for val, key in works
			dt
				| #{key}:
				if(typeof val == 'object')
					dd 
						dl
							+branch(val)
				else
					dd
						|#{val}

include includes/top
	for work in works
		h2: a(href="#{work.resource}") #{work.id}
		a(href="#{work.metaworks}") (see metaworks...)
		- delete work.resource
		- delete work.id
		- delete work.metaworksGraph
		- delete work.metaworks
		- work.created = new Date(work.created).toString();
		+branch(work)
include includes/bottom