//- 
	Catalog web/view

	Copyright 2014 Commons Machinery http://commonsmachinery.se/

	Authors:
		Elsa Balderrama <elsa@commonsmachinery.se>

	Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

- var works = data
- data = {"data":works};
- var stringData = JSON.stringify(data);

mixin workView(data)
	- data = data || {}
	div.work
		h2: a(href="#{data.resource || ''}") #{data.id || ''}
		span(name="visibility")
		span(name="state")
		| by 
		span(name="creator") #{data.creator || ' --- '} 
		| on 
		span(name="created") #{data.creator || ' --- '}
		br
		| last updated by 
		span(name="updatedBy") #{data.updatedBy || ' --- '} 
		| on 
		span(name="updated") #{data.updated || ' --- '}
		a(href="#{data.metadata || ''}" name="metadata") (see metadata...)

include includes/top
	for work in works
		+workView(work)
include includes/bottom

script#workTemplate(type="text/template")
	+workView()

div.bootstrapData #{stringData}

