//- Catalog web - page for list of works
//- 
//- Copyright 2014 Commons Machinery http://commonsmachinery.se/
//- Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

- var works = data;

mixin workListItemView(work, idPrefix)
    li.work(id=(idPrefix ? idPrefix + '-' + work.id : ''))
        div
            input.batchSelectItem(type='checkbox')
            a(data-bind="resource", href=work.resource || '#')
                span(data-bind="id") #{work.id || ''}
            = ' ('
            span(data-bind="visibility") #{work.visibility || '' }
            = ', '
            span(data-bind="state") #{work.state || '' }
            = ') by '
            span(data-bind="creator") #{work.creator || '-'}
            = ' on '
            span(data-bind="created") #{work.created || '-'}
        div
            = 'Last updated by '
            span(data-bind="updatedBy") #{work.updatedBy || '-'}
            = ' on '
            span(data-bind="updated") #{work.updated || '-'}

include includes/top
    if works
        div#actions
            label(for="new-visibility") New visibility:
            select(id="new-visibility")
                option(value="")
                option(value="private") Private
                option(value="group") Group
                option(value="public") Public
            label(for="new-state") New state:
            select(id="new-state")
                option(value="")
                option(value="draft") Draft
                option(value="published") Published
            button(id="batch-update") Batch update

        ul#works
            for work in works
                +workListItemView(work, 'works')
    else
        b There are no visible works.

    include includes/bottom

    script#workListItemTemplate(type="text/template")
        +workListItemView({}, null)

    script.bootstrapData(type='application/json')
        != bootstrapData({ "data": works || [] })


