//- Catalog web - page displaying a work
//- 
//- Copyright 2014 Commons Machinery http://commonsmachinery.se/
//- Distributed under an AGPL_v3 license, please see LICENSE in the top dir.



mixin workDetails()
    article
        - var displayTitle = work.alias || work.id
        header
            dl.hideCaption 
                +defTerm(null, 'Title')
                    h1 #{displayTitle}
            if work._perms.write
                span(class="#{work.public ? 'public' : 'private'}")
                span.actions
                    button.edit(data-action="edit") Edit Details
        span.embed #{work.media}
        span.description #{work.description}
        footer.details(class="grid-100 tablet-grid-100 mobile-grid-100")
            dl
                span.gravatar
                    img(src=gravatarHashURL(work.added_by.profile.gravatar_hash, 50))
                +defTerm(null, 'Added by')
                    a(href=work.added_by.id) #{work.added_by.id}
                +defTerm(null, 'on', 'added_at')
                    -var date = work.added_at.toDateString();
                    | #{date.substring(3, date.length)}
                +defTerm('--th time' , 'for the', 'forks')
                +defTerm('--' , 'from', 'media')
                +defTerm('-- collections', 'and currently part of', 'collections')

include includes/top
    div#work(class="prefix-5 grid-90 tablet-grid-100 mobile-grid-100")
        div#workDetails(class="grid-85 tablet-grid-80 mobile-grid-100")
            +workDetails
        aside
            button.delete(data-action="delete") Delete Work



    include includes/bottom

    script#editWorkDetailsTemplate(type="text/template")
        form
            fieldset#fields
                span
                    label(for="input-alias") Alias:
                    input#input-alias(type="text")
                span
                    label(for="input-description") Description:
                    textarea#input-description(rows="3")
                span.public
                    label(for="input-public") Make it public
                    input#input-public(type="checkbox")
                    label.checkbox(for="input-public")
            fieldset.actions
                button.save(data-action="save") Save
                button.cancel(data-action="cancel") Cancel

    script#workDetailsTemplate(type="text/template")
        +workDetails()

    script.bootstrapData(type='application/json')
        != bootstrapData({ "data": work })
