//- 
	Catalog web/view

	Copyright 2014 Commons Machinery http://commonsmachinery.se/

	Authors:
		Elsa Balderrama <elsa@commonsmachinery.se>

	Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

- var work = data
mixin branch(data)
	dl
		for val, key in data
			dt #{key}:
			if typeof val == 'object'
				dd
					+branch(val)
			else
				if owner
					dd.editable(data-key="#{key}") #{val}
				else
					dd(data-key="#{key}") #{val}

include includes/top
	h1#id(data-key) #{work.id}
	a(href="#{work.metadata}") (view metadata...)
	input.edit(type="button" value="edit")
	-delete work.id
	-delete work.resource
	-delete work.metadata
	- work.created = new Date(parseInt(work.created)).toString()
	+branch(work)
include includes/bottom