//- 
	Catalog web/view

	Copyright 2014 Commons Machinery http://commonsmachinery.se/

	Authors:
		Elsa Balderrama <elsa@commonsmachinery.se>

	Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

- var work = data
- var stringData = JSON.stringify(data);

mixin workView(data)
	- data = data || {}
	- var creator = data.creator.match(/users\/([^\/]+)/)[1]
	div.work
		h2: a(href="#{data.resource}") #{data.id}
		span(name="visibility")
		span(name="state")
		a(href="#{data.metadata || ''}" name="metadata") (see metadata...)
		span.info
			| by 
			a(href="#{data.creator}") #{creator} 
			| on 
			span(name="created") #{data.created}
			br
			| last updated by 
			if data.updated
				- var updatedBy = data.updatedBy.match(/users\/([^\/]+)/)[1]
				a(href="#{data.updatedBy}") #{updatedBy} 
				| on 
				span(name="updated") #{data.updated}
		| Posted on: 
		for post in (data.posts || {})
			a(href="#{post}") #{post}
		br
		| Sources: 
		for source in (data.sources || {})
			a(href="#{source}") #{source}

div.bootstrapData #{stringData}

include includes/top
	+workView(work)
include includes/bottom