//- Catalog web - page displaying a work
//- 
//- Copyright 2014 Commons Machinery http://commonsmachinery.se/
//- Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

- var work = data

mixin workView(work)
    div#work
        fieldset.editable(disabled=true)
            div
                h3
                    | Work
                    span(data-bind="id") #{work.id || ''}
            div
                | Permalink:
                a(data-bind="resource", href=work.resource || '#')
                    span(data-bind="resource") #{work.resource || ''}
            div
                = 'Created by '
                span(data-bind="creator") #{work.creator || '-'}
                = ' on '
                span(data-bind="created") #{work.created || '-'}
            div
                = 'Last updated by '
                span(data-bind="updatedBy") #{work.updatedBy || '-'}
                = ' on '
                span(data-bind="updated") #{work.updated || '-'}
            div
                label(for="visibility") Visibility:
                select(data-bind="visibility", id="visibility")
                    option(value="private") Private
                    option(value="group") Group
                    option(value="public") Public

                label(for="state") State:
                select(data-bind="state", id="state")
                    option(value="draft") Draft
                    option(value="published") Published
            div
                h4
                    a(data-bind="metadata", href=work.metadata || '#')
                        | Metadata:
            textarea.editable(data-bind="metadataGraph")
                = JSON.stringify(work.metadataGraph || '', null, 4)
        fieldset
            button(data-action="edit") Edit
            button.hidden(data-action="save", disabled=true) Save
            button.hidden(data-action="cancel", disabled=true) Cancel


include includes/top
    +workView(work)

    include includes/bottom

    script#workTemplate(type="text/template")
        +workView({}, null)

    script.bootstrapData(type='application/json')
        != bootstrapData({ "data": work })
