
mixin defTerm(term, caption)
    if attributes['data-bind'] == null
        - attributes['data-bind'] = caption.toLowerCase().replace(' ', '_')
    if term != null || block
        - var span = '<span'

        for val, key in attributes
            - span = span +' '+ key +'="'+ val +'"'
        - span = span + '>'
        != span
            dt: != caption
            dd 
                if term
                    | #{term}
                if block
                    block
        != '</span>'


mixin pageNav(url, rel, caption)
    a(class=attributes.class, data-goto=rel, href=url): | #{caption}
