
mixin defTerm(term, caption, className)
    if term != null || block
        span(class="#{className || caption.toLowerCase().replace(' ', '_')}")
            dt #{caption}
            dd 
                if term
                    | #{term}
                if block
                    block


mixin pageNav(url, caption)
    if url
        a(data-goto=caption href=url): | #{caption}
