//- This header goes into every page, so tell people what they're using:

//
	Metadata catalog - code and more info:
	https://github.com/commonsmachinery/catalog/
	
	Copyright 2014 Commons Machinery http://commonsmachinery.se/
	Distributed under an AGPL_v3 license, please see LICENSE in the top dir.


doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		// To support Persona
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")

		title Catalog
		// link(rel="stylesheet", href="/css/style.css")
		script(src="https://login.persona.org/include.js")

		script(src="/lib/require.js", data-main="/app/boot")
		
	body(data-login-user=user || '', data-login-email=loginEmail || '', data-login-type=loginType || '')
		nav: ul
			if (user)
				li: a(href="/users/#{user}")
					| #{loginEmail} (#{loginType})
				case loginType
					when 'persona'
						li: a#logout-persona(href="#")
							| Logout
					when 'test'
						li: a(href="/test/logout")
							| Logout
			else
				li: a(href="/login")
					| Login
		div#content
			| 
