//- 
	Catalog web/view

	Copyright 2014 Commons Machinery http://commonsmachinery.se/

	Authors:
		Elsa Balderrama <elsa@commonsmachinery.se>

	Distributed under an AGPL_v3 license, please see LICENSE in the top dir.

- var posts = data
- data = {"data":posts};
- var stringData = JSON.stringify(data);

mixin postView(data)
	- data = data || {}
	div.post
		h2: a(href="#{data.resource || ''}" name="id") #{data.id || ''}
		| by 
		span(name="creator") #{data.creator || ''} 
		| on 
		span(name="created") #{data.created || ''}
		br
		| last updated by 
		span(name="updatedBy") #{data.updatedBy || ' --- '}
		| on 
		span(name="updated") #{data.updated || ' --- '}
		a(href="#{data.metadata || ''}" name="metadata") (see metadata...)
		a(href="#{data.cachedExternalMetadata || ''}" name="cachedExternalMetadata") (see external metadata...)

script#formTemplate
	form
		label(for="resource") URL: 
		input(type="text" name="resource" default="http://")
		input.save(type="button" value="save")
script#postTemplate
	+postView()
div.bootstrapData #{stringData}

include includes/top
	div#posts
		input.add(type="button" value="+")
		for post in posts
			+postView(post)
include includes/bottom